.MainBoard {
  height: calc(100vh - 30px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #16222A;  
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);  
  background: linear-gradient(to right, #3A6073, #16222A); 
}
.page-title {
  background: linear-gradient( to right, hsl(52deg 87% 63%), hsl(0deg 100% 65%) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 45px;
  letter-spacing: 10px;
}
@media (max-width: 767px) {
  .page-title {
    font-size: 34px;
  }
}