@keyframes text-animation {
 to {
    background-position: 200% center;
 }
}
.MainBoard {
  height: calc(100vh - 30px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #000000;  
}
.page-title {
  text-align: center;
  font-size: 45px;
  letter-spacing: 10px;
  animation: text-animation 3s ease-in infinite;
  background: rgb(2,114,168);
  background-image: linear-gradient(
    -225deg,
    #b9dab6 0%,
    #00d177 29%,
    #00f7ff 67%,
    #00aaff 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .3s;
}
@media (max-width: 767px) {
  .page-title {
    font-size: 34px;
  }
}